<div class="center">
  <hello name="{{ name }}"></hello>
  <img [src]="top[0]" alt="Random first slide" />
  <header>Introduction</header>
  <p>
    Mike decided to start Net Neutrality Brewing back in 2015. He started
    with simple brewing kits but quickly developed into creating his own
    reciptes. Creating his own recipes consists of buying specific types of
    grain, hops, and spices.
  </p>

  <div class="container-fluid">
    <h1></h1>
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images1[0]" alt="images1" />
        </div>
        <div class="carousel-caption"></div>
      </ng-template>
      <ng-template ngbSlide  >
        <div class="wrapper">
          <img [src]="images[1]" alt="images1" />
        </div>
        <div class="carousel-caption"></div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images2[2]" alt="images1" />
        </div>
        <div class="carousel-caption"></div>
      </ng-template>
    </ngb-carousel>
    <header>About</header>
    <p>
      The name, Net Neutrality Brewing, is exactly what it sounds like: from the
      Open Internet Order in 2015. Coincidentally, this order was passed exactly
      the same day that Ohleger brewed his first beer. Because of this, Michael
      named his home brewery Net Neutrality Brewing or NNB for short. This is also
      the reason that each of his beers are named something computer related
      such as TCP/IP(A), Y2K Imperial Red Ale, or Cold War, Dark Web Imperial
      Russian Stout. Even looking at the labels they are spelled out in ASCII,
      hex, or Binary.
    </p>

    <header>In the News</header>
    <p>
      Although he is barely known, Mike already has had an article
      written about him in "The Daily Dot":
      https://www.dailydot.com/debug/net-neutrality-brewing-beer/
    </p>
  </div>
</div>
